/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* border: 1px solid red; */
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/* nav bar */
.menu {
  position: fixed;
  top: 0;
  left: 32rem;
  color: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 5rem;
  padding: 2rem;
  min-width: 15rem;
}
.menu__hamburger {
  position: relative;
}
.menu__hamburger--bar {
  position: relative;
  height: 3px;
  width: 2.5rem;
  margin-bottom: 5px;
  background: #cc005f;
  transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s, opacity 0.3s;
}
.menu__hamburger--bar:nth-child(1) {
  top: 0;
}

.menu__hamburger--bar:nth-child(3) {
  bottom: 0;
  margin-bottom: 0;
}
.menu__hamburger--toggle.menu__hamburger--bar:nth-child(1) {
  top: 8px;

  transform: rotate(41deg);
  transition: top 0.3s, transform 0.3s 0.3s;
}
.menu__hamburger--toggle.menu__hamburger--bar:nth-child(2) {
  opacity: 0;
}
.menu__hamburger--toggle.menu__hamburger--bar:nth-child(3) {
  bottom: 8px;
  transform: rotate(-41deg);
}
.menu__title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.7rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2.3rem;
}
.menu__open {
  position: fixed;
  top: -32rem;
  left: 32rem;
  color: #eee;
  min-width: 18.41rem;
  height: 37rem;
  background: black;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.menu__open ul li {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.menu__open ul li:hover {
  padding-left: 2rem;
  color: #cc005f;
}
.menu__open ul li:active {
  color: #cc005f;
}
.toggle {
  top: 5rem;
}
ul {
  padding: 2rem 2rem;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 3;
}
/* landing page  */
.container__landing-page {
  background-image: url("./images/intro-bg.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
}
.container__landing-page--overlay {
  background: rgb(18, 18, 18);
  opacity: 0.85;
  height: 100%;
  position: absolute;
  width: 100%;
}
.title__container {
  z-index: 1;
  color: #eee;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1;
  padding: 2rem;
  margin-top: 15%;
}
.title__sub-title--intro {
  font-size: 2.3rem;
  letter-spacing: 0.3rem;
  color: #cc005f;
  font-weight: 600;
}
.title__sub-title--name {
  font-size: 8.5rem;
  display: inline-block;
  margin: 1rem 0;
  font-weight: 600;
}
.title__sub-title--specialty {
  font-family: serif;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}
span:nth-of-type(3) {
  padding: 0 2rem;
  border-left: 2px solid rgb(100, 100, 100);
  border-right: 2px solid rgb(100, 100, 100);
}
span:nth-of-type(4) {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-right: 2px solid rgb(100, 100, 100);
}
.title__button {
  border: 3px solid rgb(100, 100, 100);
  margin-top: 4rem;
  padding: 1.5rem 3rem;
  background: none;
  color: #eee;
  letter-spacing: 0.3rem;
  font-family: "Poppins";
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  outline-style: none;
}
.title__button:hover {
  border-color: #cc005f;
  cursor: pointer;
}
.social-media__icons {
  color: #eee;
  z-index: 1;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 1rem;
  font-weight: bold;
  margin-bottom: 5%;
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-behance,
.fa-dribbble {
  margin: 0 1.5%;
  transition: all 0.3s ease-in-out;
}
.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-behance:hover,
.fa-dribbble:hover {
  color: #cc005f;
  cursor: pointer;
}
